.login{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .background-image{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}    
   
   .new{
    cursor: pointer;
   }
   .forgot-password{
    cursor: pointer;
   }
        .loginForm{
            position: relative;
          border-radius: 10px;
          color: white;
            width: 269px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            background-color: black;
            gap: 10px;
            .spinner{
                position: absolute;
                left: 35%;
                top: 50%;
            }
            img{
                height: 40px;
                border-radius: 50%;
                width: 40px;
                margin-left: 90px;
            }
            h1{
                color: white;
                font-size: 2rem;
                margin-left: 80px;
                
            }
            input{
                height: 40px;
            }
            button{
                background-color: red;
                height: 30px;
                color: white;
                font-size: larger;
            }
            p{
                color: white;
             span{
                margin-left: 3px;
             }
            }

        }
        
    }
  
