
.featured{

    .movie{
        height: 90vh;
        position: relative;
        .title{
            display: none;
           font-size: 4rem;
           font-style: italic;
        }
        .discription{
            display: none;
            font-size: larger;
            margin: 10px 0px;
    
        }
        &:hover{
            img{
    
                filter: blur(2px);
            }
            .title{
                display: block;
               font-size: 4rem;
               font-style: italic;
            }
            .discription{
                display: block;
                font-size: larger;
                margin: 10px 0px;
    
            }
           
        }
        img{
            height: 100%;
            width: 100%;
        }
        .content{
            color: white;
            position: absolute;
            width: 50%;
            bottom: 13%;
            left: 8%;
            display: flex ;
            flex-direction: column;
          
         
    
        }
    }
}