.changePassword{
    background-color: rgb(8, 8, 50);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    .container{
        .spinner{
            position: absolute;
            left: 45%;
            top: 50%;
        }
        position: relative;
        padding: 20px;
        background-color: rgb(18, 18, 78);
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 10px;
        .input{
            padding: 10px;
        }
        .btn{
            padding: 10px;
        }
    }
}