.register{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .background-image{
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
    }
    .container{
        position: relative;
        border-radius: 30px;
        width: 300px;
        color: white;
        background-color: black;
        display: flex;
        flex-direction: column;
        padding: 10px;
        .spinner{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: auto;
            margin-left: auto;
        }
        h1{
            
            margin: 10px 70px;
        }
      
        img{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-left: 110px;

        }
        input{
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            height: 30px;
        }
        .profile-container{ 
            margin-bottom: 20px;
            position: relative;
            .profile-image{
                margin-left: 20px;
            height: 70px;
            width: 70px;
            border-radius: 50%;
        }
        .input-profile{
         display: none;
        }
        .profile-label{
            position: absolute;
            top: 50px;
            right: 185px;
            color: rgb(253, 41, 41);
        }
    }
    }
    button{
        background-color: red;
        color: white;
        font-size: larger;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;

    }
    span{
        margin-left: 5px;
        margin-top: 5px;
    }
}