.payToWatch{
    .icon{
        position: absolute;
        color: white;
        font-size: 3rem;
        z-index: 100;
    }
    .subscibe-container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100vh;
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgb(10, 10, 228) 59%, transparent 141%);
        .subscribe{
            color: white;
            background-color: rgb(7, 5, 56);
            z-index: 100;
            height: 50px;
            border-radius: 7%;
            width: 200px;
        }
       }
    .bg-image{
        top: 0;
        position: absolute;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }
    
}